<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.driveManager.mapper.UserMapper">
    <!-- <select id="findByUsername" parameterType="String" resultType="com.driveManager.vo.UserDTO">
        SELECT * FROM user WHERE username = #{username}
    </select> -->
</mapper>
