@charset "UTF-8";

#content {
	/* margin : 10px; */
}

#loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 9999;
}

.content {
	width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px; /* 여백을 원할 경우 */
    margin-top : 10px;
}

@media (min-width: 1400px) {
    .content {
        max-width: 1000px;
    }
}